.list
{
    font:10pt Tahoma; color:#000;
    background:#9bbb59;
}
.head{background:#9bbb59; }
.row{background:#e6eed5; }
.boldtext{font-weight:bold}

.editing { display: none; }
.hiden{display: none;}
.editing_input {display: block;}